[GENERAL]
; Exporter Listening Address and Port
;address = 0.0.0.0
;port = 7100
; Exporter Metrics Path
;path = /metrics

[AUTH]
; Basic Auth
;username = user
;password = pass
; Bearer Token
;token = token

[SONARR]
url = http://sonarr:8989
api_key = key
; (Optional) specify API version
; api_version = v3
; (Optional) Get Data per Series
detailed = true

[RADARR]
url = http://radarr:7878
api_key = key
; (Optional) specify API version
; api_version = v3
; (Optional) Get Data per Movie
detailed = true

[PROWLARR]
url = http://prowlarr:9696
api_key = key
; (Optional) specify API version
; api_version = v1
; (Optional) Get Data per Application/Indexer
detailed = true
